.container {
  width: 100%;
  height: 100%;
}

.grid {
  max-width: 750px;
  margin: 0 auto;
  display: grid;
  background: red;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  border: 1px solid red;
}

.square {
  height: 250px;
  background: white;
  padding: 10px;
}

.infobar {
  height: 15px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.button__likes {
  color: red;
  background: white;
  border: none;
  height: 20px;
  min-width: 20px;
  border: 1px solid red;
}

.button__delete {
  font-size: 15px;
  color: red;
  background: white;
  border: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.button__delete:hover {
  font-weight: bold;
}

.date {
  color: red;
  opacity: 0.5;
  font-size: 12px;
  height: 15px;
  margin-top: 10px;
}

.text {
  color: red;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
  height: 180px;
  overflow-y: hidden;
  word-break: break-all;
}
